<!-- Original -->

<!--<div class= "header">
    Ping e Ponto
</div>-->

<!-- Original -->

<!-- Nova -->
<div class="navbar d-flex justify-content-between">

    <span class='logo'>
        <%= link_to "Ping e Ponto", root_path%>
    </span>
    <span class='buttons'>
        <%= link_to "Jogadores", players_path%>
        <%= link_to "Histórico", historico_path%>
        <a></a>
    </span>
    <span>            
        <%= link_to "Placar", placar_path, class:"btn"%>      
    </span>
</div>

<!-- Nova -->