<div class="container historico">
<div class="row">
    <h1>Histórico de partidas</h1>

    <% @matches.each do |match|%>
            <% if match.winner == nil || match.loser == nil%>
                <%  next %>
            <% end %>
        <div class="row" id='pontuação'>
            <div class="col-sm-4" id='j1'>
                <%= Player.find(match.winner).nome %>
            </div>
            
            <div class="col-sm-4" id='placar'><%= match.winner_score %> X <%= match.loser_score %></div>

            <div class="col-sm-4" id='j2'>
                <%= Player.find(match.loser).nome %>
            </div>
        </div>  
    <% end %>
</div>
</div>