<div class="row">    
    
    <div class="col-sm-3 line" style="position: relative"> <h2>Próximo</h2>
        <div class="row">
            <input id="nome" type="text" placeholder="Nome do jogador" autocomplete="off">
            <button type="button" class="btn btn-primary" onClick="joinPlayer(document.getElementById('nome').value)">Adicionar</button>
            
            <div id="results"></div>
        </div>
            
        <h2>Fila</h2>
        <p id="fila"></p>
    </div>

    <div class="col-sm-9">
        
        <h2>Pontuação</h2>
        <div class="row" id='pontuação' onload="start()">
            <div class="col-sm-1 vitórias" id='v1'>0</div>
            <div class="col-sm-3" id='j1'>Jogador 1</div>
            <div class="col-sm-4" id='placar'>0 X 0</div>
            <div class="col-sm-3" id='j2'>Jogador 2</div>
            <div class="col-sm-1 vitórias" id='v2'>0</div>
        </div>

        <div class="row" style="padding: 15px 0;">
            <h2 id="overtime"></h2>
            <div class="col-sm-3 d-flex justify-content-center">
                <button type="button" id="p1" onclick="adicionarPonto1()">Ponto Jogador 1</button>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
                <img class='refresh' src='refresh.png' onclick="inverterMesa()" style="cursor: pointer;" height="20px">
            </div>
            <div class="col-sm-3 d-flex justify-content-center">
                <button type="button" id="p2" onclick="adicionarPonto2()">Ponto Jogador 2</button>
            </div>
        </div>

        <div class="row">
            <p id="vitoria">
                <!--Gustavo venceu! 🏆<p class="message"><strong>Enter</strong> para iniciar próxima partida</p>-->
            </p>
        </div>
    </div>
</div>
                    


<div class='row' id="opções">
    <button id="gaveta" type="button" data-bs-toggle="collapse" data-bs-target="#options" aria-expanded="false" aria-controls="options">
    Opções
    </button>

    <div id="options" class="collapse">
            <div class='row' id='config'>
            <div class='col-sm-6'>
                <div class='row'>
                    <h4>Gerenciar vitórias</h4>
                    <div class='col-sm-12'>
                        <label for='pontos1'>Jogador 1:</label>
                        <input type="number" class='opt' id='vit1'name="pontos1" onchange="editarVitorias1()">
                        <br>
                        <label for='pontos2'>Jogador 2:</label>
                        <input type="number" class='opt' id='vit2'name="pontos2" onchange="editarVitorias2()">
                    </div>
                </div>	
            </div>
            <div class='col-sm-6'>
                <h4>Gerenciar pontos</h4>
                <div class='col-sm-12'>
                    <label for='pontos1'>Jogador 1:</label>
                    <input type="number" class='opt' id='pts1' name="pontos1" onchange="editarPonto1()"> 
                    <br>
                    <label for='pontos2'>Jogador 2:</label>
                    <input type="number" class='opt' id='pts2' name="pontos2" onchange="editarPonto2()">
                </div>
            </div>
            </div>
    </div>
</div>

<script src = "pingeponto.js"></script>	